.body{
    padding: 0px;
    margin: 50px;
    justify-content: center;
}
.form-container{
    padding: 50px;
    border: 2px solid #dadadd;
    box-shadow: 2px 3px 4px;
    width: 500px;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap:8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;

    input{
        font-size: 14px;
    }

    button{
        background-color: rgb(7, 131, 0);
        transition: 0.6ms;
        border-radius: 8px;
        color: white;
    }
    button:hover{
        background-color: #00ff04;
        transition: 0.6s;
        cursor: pointer;
    }
}